* {
	padding: 0;
	margin: 0;
}
canvas {
	background-image: url("Glacier Background.png");
	background-size: cover;
	display: block;
	margin: 0 auto;
	border: 2px solid gray;
	}/*
.sprites { background: url(sprites.png) no-repeat; }
.PolarBearDraw1 { width: 150px; height: 116px; background-position: 0 0; }
.PolarBearDraw2 { width: 150px; height: 116px; background-position: 0 -117px; }
.PolarBearDraw3 { width: 150px; height: 116px; background-position: 0 -234px; }
.PolarBearDraw4 { width: 150px; height: 116px; background-position: 0 -351px; }
.PolarBearDraw5 { width: 150px; height: 116px; background-position: 0 -468px; }
.PolarBearDraw6 { width: 150px; height: 116px; background-position: 0 -585px; }
.PolarBearDraw7 { width: 150px; height: 116px; background-position: 0 -702px; }
.PolarBearDraw8 { width: 150px; height: 116px; background-position: 0 -819px; }*/