/* {
	border:1px solid red;
}*/
header {
	font-family: 'Julius Sans One', sans-serif;
	font-size: 150%;
}
body {
	background-color: white;
	font-family: 'Tajawal', sans-serif;
}

body, html {
    height: 100%;
}

.bg {
	background-image: url(polarbear.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	height: 100%;
}

.boxes {
  padding: 20px;
  margin-bottom: 10px;
	margin-top: 10px;
 	background: #e6f2ff;
	border: 20px solid #000000;

}
.boxes2 {
  padding: 20px;
  margin-bottom: 10px;
	margin-top: 10px;
 	background: #e6f2ff;
	border: 20px solid #000000;

}

.pbsize {
	width: 61.3px;
	height: 50px;
	float: left;
}

h1 {
	text-align: center;
	color: black;
	font-size: 170%;
}
.navbar {
	overflow: hidden;
	background-color: black;
}
.navbar a {
	float: left;
	font-size: 100%;
	color: white;
	text-align: center;
	padding: 1% 6%;
	text-decoration: none;
}
.navbar a:hover {
	color: #30d1f2;
	background-color: #202021;
}
h4 {
	font-size: 155%;
	text-align: center;
	margin-bottom: 0;
}
hr {
	align: center;
	width: 25%;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(48, 209, 242, 0.2);
  width: 40%;
  margin: auto;
  text-align: center;
  font-family: arial;
	display: inline-block;
	margin: 2% 4.815%;
}

.card .name {
	margin-top: 0;
}

.card .name1 {
	margin-bottom: 0;
}
.title {
  color: gray;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 5%;
  color: white;
  background-color: #30d1f2;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 105%;
}

a {
  text-decoration: none;
  font-size: 130%;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}
footer {
  padding: 1% 0;
  background-color: black;
  text-align: center;
  color: white;
}

h3 {
	font-size: 100%;
	text-align: center;
	margin-bottom: 0;
}

h6 {
	font-size: 70%;
	text-align: center;
	margin-bottom: 0;
}


.boxes {
  padding: 20px;
  margin-bottom: 10px;
 	background: #e6f2ff;
}
#polartitle {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-size: 40px;
}
.pbsize {
	width: 61.2px;
	height: 50px;
	float: left;
}
