/* {
	border:1px solid red;
}*/
header {
	font-family: 'Julius Sans One', sans-serif;
	font-size: 150%;
}
canvas {
   padding-left: 0;
	 padding-right: 0;
	 margin-left: auto;
	 margin-right: auto;
	 display: block;
}
body {
	background-color: white;
	font-family: 'Tajawal', sans-serif;
}

body, html {
    height: 100%;
}

.bg {
	background-image: url(polarbear.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	height: 100%;
}

.boxes {
  padding: 20px;
  margin-bottom: 1%;
	margin-top: 1%;
 	background: #e6f2ff;
	border: 20px solid #000000;

}

.pbsize {
	width: 5%;
	height: 5%;
	float: left;
}

h1 {
	text-align: center;
	color: black;
	font-size: 170%;
}
.navbar {
	overflow: hidden;
	background-color: black;
}
.navbar a {
	float: left;
	font-size: 100%;
	color: white;
	text-align: center;
	padding: 1% 6%;
	text-decoration: none;
}
.navbar a:hover {
	color: #30d1f2;
	background-color: #202021;
}
h4 {
	font-size: 155%;
	text-align: center;
	margin-bottom: 0;
}
hr {
	align: center;
	width: 25%;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(48, 209, 242, 0.2);
  width: 40%;
  margin: auto;
  text-align: center;
  font-family: arial;
	display: inline-block;
	margin: 2% 4.815%;
}

.card .name {
	margin-top: 0;
}

.card .name1 {
	margin-bottom: 0;
}
.card img {
	width: 100%;
	height: 40%;
}
.card .imgs {
	height: 600px;
}
.title {
  color: gray;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 5%;
  color: white;
  background-color: #30d1f2;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 105%;
}

a {
  text-decoration: none;
  font-size: 130%;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}
footer {
  padding: 1% 0;
  background-color: black;
  text-align: center;
  color: white;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 10%; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(48, 209, 242); /* Fallback color */
    background-color: rgba(48, 209, 242,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: white;
    margin: auto;
    padding: 2%;
    border: 1px solid #202021;
    width: 80%;
		height: 55%;
}

.modal-content .size {
	height: 50%;
	width: 50%;
	float: left;
	margin-right: 3%;
}
/* The Close Button */
.close {
    color: #202021;
    float: right;
    font-size: 180%;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

h3 {
	font-size: 135%;
	text-align: left;
	margin-bottom: 0;
}

h2 {
	font-size: 100%;
	text-align: left;
	margin-bottom: 0;
}

h6 {
	font-size: 71%;
	text-align: center;
	margin-bottom: 0;
}
h5 {
	font-size: 150%;
	text-align: left;
	margin-bottom: 0;
	text-decoration: underline;
}

#polartitle {
	position: absolute;
	left: 50%;
	top:75%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-family: 'Press Start 2P', cursive;
	color: white;
}
#polartitle2 {
	position: absolute;
	font-size: 30px;
	left: 50%;
	top:90%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-family: 'Press Start 2P', cursive;
	color: white;
}
#startnotif{
	font-size: 30px;
	position: absolute;
	top: 105%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: 'Lekton', sans-serif;
}
#bgstory{
	color: white;
	position: absolute;
	left: 50%;
	top:62%;
	margin-left: 80px;
	padding-right: 140px;
	transform: translate(-50%, -50%);
	text-align: left;
	display:none;
	font-family: 'Press Start 2P', cursive;
	font-size: 12px;
}
#instruct{
	color: white;
	position: absolute;
	left: 50%;
	top:80%;
	margin-left: 78px;
	padding-right: 140px;
	transform: translate(-50%, -50%);
	text-align: left;
	display:none;
	font-family: 'Press Start 2P', cursive;
	font-size: 12px;
}
#spacecontinue{
	color: white;
	position: absolute;
	left: 50%;
	top:100%;
	margin-left: 78px;
	padding-right: 140px;
	transform: translate(-50%, -50%);
	text-align: center;
	display:none;
	font-family: 'Press Start 2P', cursive;
	font-size: 16px;
}
.firstletter {
	font-size: 100px;
}
.rest {
	font-size: 60px;
}
.strokeme
{
    color: white;
    text-shadow:
    -1px -1px 0 #666666,
    1px -1px 0 #666666,
    -1px 1px 0 #666666,
    1px 1px 0 #666666;
}
.pbsize {
	width: 61.2px;
	height: 50px;
	float: left;
}

/* css slideshow code */
.slideshow{
	margin: 50px auto;
	position: relative;
	width: 556px;
	height: 304px;
	padding: 20px;
	box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

.slideshow > div {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
}


.mySlides {
    display: none;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-name: fade;
  animation-duration: 1s;
}

@-webkit-keyframes fade {
  from {opacity: .1}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .1}
  to {opacity: 1}
}
